    :root {

        --VeryVarkBlue: hsl(220, 13%, 13%);
        --DarkGrey: hsl(219, 9%, 45%);
        --Grey: hsl(220, 14%, 75%);
        --Orange: hsl(26, 100%, 55%);
        --PaleOrange: hsl(25, 100%, 94%);
    }



    .ItemDetailContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-content: center;
        align-items: center;
        gap: 3rem;
        justify-items: center;
        height: 100vh;
    }

    .ItemDetailImg {
        height: 20rem;
        width: 20rem;
    }

    .ItemDetailImg img {
        height: 100%;
        border-radius: 10%;
    }

    .ItemDetail {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 1rem;
    }

    .ItemDetailName {
        font-size: 3rem;
        font-weight: 600;
    }

    .ItemDetailDesc {
        text-align: start;
        font-weight: 400;
        font-size: 1rem;
        color: var(--Grey);
    }

    .ItemDetailPrice {
        font-size: 2rem;
        font-weight: 600;

    }

    .ItemDetailBtn {
        background-color: var(--Orange);
        border-radius: 5%;
        padding: 1rem;
        border: none;
        align-items: center;
        color: white;
        width: 15rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        box-shadow: -1px 33px 69px -10px var(--Orange);
        -webkit-box-shadow: -1px 33px 69px -10px var(--Orange);
        -moz-box-shadow: -1px 33px 69px -10px var(--Orange);
    }


    .ItemDetailBtnContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
    }