.CartbtnContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-top: 3rem
}
.RemoveContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-left:5rem;
    grid-area: btn;
}
.RemoveContainer button {
    box-shadow: none;
}
.NameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-top: 3rem
}
.submit input{
    box-shadow: none;
}
.CartImg {
    height: 10rem;
    grid-area: img;
}
.CartForm{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 1rem;
}
.CartInput{
    width: 18rem;
    height: 2.2rem;
    border: var(--Grey) 2px solid;
}
.CartContainer{
    display: flex;
    align-content: center;  
    justify-content: center;
    border-bottom: var(--Grey) 2px solid;
    padding-bottom: 1rem;
}
input[type="number"]
{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance:textfield !important;
}
.NoProducts{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem
}
