@import url(./components/ItemCount/ItemCount.css);
@import url(./components/ItemDetail/ItemDetail.css);
@import url(./components/NavBar/NavBar.css);
@import url(./pages/CartPage/CartPage.css);
@import url(./components/Item/Item.css);

* {
  font-family: 'Kumbh Sans', sans-serif;
  text-decoration: none;
  list-style: none;
  color: none;

}
button,
.submit{
  background-color: var(--Orange);
  border-radius: 5%;
  padding: 1rem;
  border: none;
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  box-shadow: -1px 33px 69px -10px var(--Orange);
  -webkit-box-shadow: -1px 33px 69px -10px var(--Orange);
  -moz-box-shadow: -1px 33px 69px -10px var(--Orange);
}
a {
  text-decoration: none;
}
.App {
  text-align: center;
  align-items: center;
  justify-content: center;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}